<ion-header>
  <ion-toolbar>
    <ion-title>Utilisateurs</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-list>
    <ion-item lines="full" *ngFor="let user of users">
      <ion-avatar slot="start" class="avatar-large">
        <img [src]="user.avatar" />
      </ion-avatar>
      <ion-label (click)="openChat(user)">
        <h2>{{ user.name }}</h2>
      </ion-label>
      <ion-button size="small" fill="outline" color="primary" slot="end" (click)="viewProfile(user)">
        Profil
      </ion-button>
    </ion-item>
  </ion-list>
